@import 'catppuccin.css';

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
    color: @ctp-mocha-text;
    transition-property: background-color;
    transition-duration: .5s;
}

.modules-left, .modules-center, .modules-right {
    background-color: @ctp-mocha-base;
    border-radius: 10px;
    padding: 0 8px;
}

#custom-separator {
  color: #666666;
  padding: 0 4px;
}

/* hyprland/window */
#window {
    margin: 0 2px;
}
/* make window module transparent when no windows present */
window#waybar.empty #window {
    background-color: transparent;
    color: transparent;
}

/* hyprland/workspaces */
#workspaces button {
    padding: 0 2px;
    background-color: transparent;
    color: #ffffff;
}
#workspaces button.empty {
    color: @ctp-mocha-subtext0;
    opacity: 0.7;
}
#workspaces button:hover {
    color: black;
}
#workspaces button.active {
    color: #ffffff;
    background-color: @ctp-mocha-overlay0;
}
#workspaces button.urgent {
    background-color: @ctp-mocha-red;
}

#clock {
    padding: 0 4px;
}

#pulseaudio {
    padding: 0 4px;
}

#battery {
    padding: 0 8px;
    border-radius: 10px;
}
#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}
/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
